{% extends 'bilan_base.html' %}
{% load i18n %}
{% load mathfilters %}

{% block titre %}
    <h4>Bilan par contrat / par année fiscale</h4>
{% endblock %}

{% block contenuprincipal %}

<div class="w3-row">
<div class="w3-col.l10" style="overflow-x:auto;">
<h2>{{ contrat.user.last_name }}, {{ contrat.user.first_name }}</h2>
    <h4>Budget # {{contrat.projet.budget}} {{contrat.projet.nomlong}} ({{contrat.projet.nomcourt}})</h4>
  <table class="w3-table-all">
    <tr class="w3-theme-l4"><td colspan="5"><b>Engagements #{{contrat.numcontrat}}<br /> ({{contrat.datedebut}}, {{contrat.datefin}})</b></td>
    <td><b>Total engagé</b></td>
        <td><b>{{contrat.vacancesestime|addition:contrat.coutbrutestime|addition:contrat.chargesestime|floatformat:2 }}</b></td>
    <td></td><td>Brut engagé</b></td><td>{{contrat.coutbrutestime}}</td>
    <td>Vacances avec PE engagées</td><td>{{contrat.vacancesestime}}</td>
    <td>PE engagé</b></td><td>{{contrat.chargesestime}}</td><td colspan="2"></td></tr>
      <tr class="w3-theme-d2"><td colspan="16"><b>Totaux facturés du contrat  #{{contrat.numcontrat}} ({{contrat.datedebut}}, {{contrat.datefin}}) </b></td>
    </tr>
    <tr class="w3-theme-d2">
    <td colspan="3"><b>Vacances avec PE dues ou payees <br />({{ contrat.vacancestaux|floatformat:2 }} %): {{vacances|floatformat:2}}$</b></td>
    <td colspan="2"><b>Temps facturé: {{totalheures}} heures</b></td>
    <td><b>Brut : {{totalbrut}}$</b></td>
    <td colspan="3"><b>PE réelle : {{totalcharges}}$</b></td>
    <td colspan="6"></td></tr>
    {% for ligne in touteslesannees %}
        <tr class="w3-theme-l3 w3-large">
           <td colspan="3">Bilan année fiscale : {{ ligne.0 }}</td>
           <td></td>
           <td>{{ ligne.1|default:"0.0"|floatformat:2 }} heures</td>
           <td>{{ ligne.2|default:"0.00"|floatformat:2 }}$</td>
           <td colspan="3"> PE réelle : {{ ligne.3|default:"0.00"|floatformat:2 }}$</td>
           <td colspan="6">Détails des montants estimés en fonction des taux officiels</td>
        </tr>
        <tr>
            <th>Période</th><th>année fiscale</th><th>Debut période</th><th>Commentaires</th>
            <th>Temps facturé</th><th>Salaire brut</th><th>PE corrigée</th><th>Vacances</th><th>PE estimée</th>
            <th>RRQ</th><th>CNES</th><th>FSST</th><th>RQAP</th><th>ASS.Emp</th>
            <th>Action</th>
        </tr>
      {% for temp in temps %}
        {% if temp.bonneperiode.anneefiscale == ligne.0 %}
          <tr>
             <td>{{temp.bonneperiode.periode}}</td>
             <td>{{temp.bonneperiode.anneefiscale}}</td>
             <td>{{temp.bonneperiode.datedebut}}</td>
             <td>{{temp.commentaire|default:""}}</td>
             <td>{{temp.heures|default:"0.0"|floatformat:2}}</td>
             <td>{{temp.brutperiode|default:"0.00"|floatformat:2}}$</td>
             <td>{{temp.partemployeurcorr|default:"0.00"|floatformat:2}}$</td>
             <td>{{temp.vacances|default:"0.00"|floatformat:2}}$</td>
             <td>{{temp.partemployeur|default:"0.00"|floatformat:2}}$</td>
              <td class="w3-theme-l4">{{temp.rrq|default:"0.00"|floatformat:2}}$</td>
             <td>{{temp.cnes|default:"0.00"|floatformat:2}}$</td>
             <td class="w3-theme-l4">{{temp.fsst|default:"0.00"|floatformat:2}}$</td>
             <td>{{temp.rqap|default:"0.00"|floatformat:2}}$</td>
             <td class="w3-theme-l4">{{temp.assemploi|default:"0.00"|floatformat:2}}$</td>
             <td><a href="{% url 'correction_pe' temp.id %}" class="w3-button w3-amber">Corriger</a></td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </table>
</div></div>
{% endblock %}

{% block pied %}
    <p>Bilan par contrat / par année fiscale</p>
{% endblock %}

