{% load i18n %}
{% load static %}

<html>
    <head>
        <title>INPLPP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'accueil/w3.css' %}">
        <link rel="stylesheet" href="{% static 'accueil/w3-theme-maison.css' %}">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
</head>
    </head>
<header class="w3-row w3-theme-d3" id="myHeader">
    <div class="w3-quarter">
        <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
    </div>
    <div class="w3-half w3-center">
    {% block titre %}

    {% endblock %}
    </div>
     <div class="w3-quarter w3-left-align">
        <a href="{% url 'choix' %}" class="w3-button w3-theme-l1">Retour à l'accueil</a>
    </div>
    <div class="w3-row w3-theme-d2">
        <div class="w3-quarter">
        </div>
    </div>

</header>
<div class="principal">
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
{% endif %}

{% block contenuprincipal %}

{% endblock %}

</div>
<footer class="w3-container w3-theme-d3 footerw3" >
    {% block pied %}

    {% endblock %}
</footer>

</body>
</html>

