{% extends 'fdt_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<form action="" method="post">
{% csrf_token %}
    <h2>{{ user.first_name }} {{ user.last_name }} </h2>

    <div class="w3-row w3-theme-l3 ">
        <div class="w3-twothird w3-center">
           <table>
               <tr>
                    <td colspan="3">Date du debut de la periode: </td>
                    <td><input type="text" name="date" id="datepicker">
                    </td>
               </tr>
               <tr>
               <td colspan="3">Choisir le projet associé à cette feuille de temps</td>
                    <td><select name="contratid" >
                        <option value="">Choisir le projet / contrat</option>
                        {% for contrat in user.contratippm_set.all %}
                            <option value="{{contrat.id}}">{{contrat.numcontrat}} - {{contrat.nomcourt}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Semaine 1</th><th>Heures travaillées</th><th>Semaine 2</th><th>Heures travaillées</th>
                </tr>
            {% for clef, jour in jours.items %}
                <tr>
                    {% for semaine in jour.semaines %}
                        <td>{{ jour.nom }}</td>
                        <td><input type="number" value="0" min="0" max="10" step="0.5" name="{{semaine}}_{{clef}}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr><td colspan="4">Description des services fournis (optionnel, 250 caractères max)</td></tr>
                <tr><td colspan="4"><input type="text" name="commentaire" size="60" maxlength="250" ></td></tr>
            </table>
             <button type="submit" class="w3-button w3-amber">Imprimer la feuille de temps</button>
          <h3>Envoyez la feuille ainsi remplie à
           <a href="mailto:{{secretaire.courriel}}?subject=Feuille de temps {{ user.last_name }} {{ user.first_name }}">
                 {{secretaire.nom}}</a> et n'oubliez pas de mettre votre coordonnateur en cc</h3>
        </div>
    </div>
</form>

{% endblock content %}
