{% extends 'bilan_base.html' %}
{% load i18n %}


{% block titre %}
<h4>Liste des assistants inscrits dans le système</h4>
{% endblock %}

{% block contenuprincipal %}
<div class="w3-row">
    <div class="w3-half">
        <table class="w3-table-all">
           <tr><th>Non, Prénom</th><th>Action</th></tr>
           {% for RA in RAs %}
            {% if RA.user.is_active == 1 %}
                <tr><td>{{ RA.user.last_name }}, {{ RA.user.first_name }}</td>
                <td><a href="{% url 'assistant_edit' RA.user.id %}" class="w3-button w3-amber">Éditer</a></td>
                </tr>
            {% else %}
                <tr><td>{{ RA.user.last_name }}, {{ RA.user.first_name }}</td>
                <td>Demander la reactivation du compte</td>
                </tr>
           {% endif %}
           {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block pied %}
    <p>Liste des assistants inscrits dans le système</p>
{% endblock %}

