{% extends 'bilan_base.html' %}
{% load i18n %}

{% block titre %}
    <h4>Liste des contrats</h4>
{% endblock %}

{% block contenuprincipal %}
<div class="w3-row">
    <div class="w3-threequarter">
    <h2>Liste des assistants inscrits dans le système</h2>
    <table class="w3-table-all">
        <tr><th> </th><th> </th><th> </th></tr>
        {% for RA in RAs %}
        <thead>
        <tr class="w3-theme-l1"><th colspan="2">{{ RA.user.last_name }}, {{ RA.user.first_name }}</th>
            <th></th><th></th>
            <th></th><th></th>
        </tr>
        </thead>
            {% for contrat in contrats %}
                {% if contrat.user.id == RA.user.id %}
                <tr><td></td>
                    <td>{{ contrat.numcontrat }}</td>
                    <td>{{ contrat.projet.nomcourt }}</td>
                    <td>{{ contrat.datedebut }}</td>
                    <td>{{ contrat.datefin }}</td>
                    <td><a href="{% url 'bilanparcontrat' contrat.id %}" class="btn-default">Voir détails</a> </td></tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    </div>
</div>

{% endblock %}

{% block pied %}
    <p>Liste des contrats</p>
{% endblock %}

