{% extends 'bilan_base.html' %}
{% load i18n %}
{% load static %}

{% block titre %}
        <h4>INPLPP -  Feuilles de temps - Liste des projets</h4>

<div class="w3-row w3-theme-d2">
        <div class="w3-quarter">
        </div>
        <div class="w3-half w3-center">
            <a href="{% url 'projet_new' %}" class="w3-button w3-amber">Ajouter un projet</a>
        </div>
    </div>
{% endblock %}

{% block contenuprincipal %}
<div class="principal">

{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
{% endif %}
<h2>Liste des projets</h2>
   <div class="w3-row">
        <table class="w3-table-all">
           <tr><th>Non court</th><th>Non complet</th><th># Budget</th><th>Origine</th><th>Responsable</th></tr>
           {% for projet in projets %}
            <tr><td>{{ projet.nomcourt }}</td>
                <td>{{ projet.nomlong }}</td>
                <td>{{ projet.budget }}</td>
                <td>{{ projet.origine }}</td>
                <td>{{ projet.responsable }}</td>
                <td><a href="{% url 'bilanparprojet' projet.id %}" class="w3-button w3-amber">Voir bilan</a></td>
            </tr>
           {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block pied %}
<p>INPLPP -  Feuilles de temps - Liste des projets</p>
{% endblock %}

